<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
</head>
<body>
    <table>
        <tr>
            <td>Search results for <span th:text="${searchTerm}"></span></td>
        </tr>
        <tr th:each="book:${books}">
            <td><a th:href="@{/book{key}(key=${book.key})}"><span th:text="${book.title}"></span></a></td>
        </tr>
        <tr>
            <td>More results not shown</td>
        </tr>
    </table>
    <a href="/index">back</a>
</body>
</html>