<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
</head>
<body>
    <table>
        <tr>
            <td>Search results for <span>Search term</span></td>
        </tr>
        <tr>
            <td>search result link</td>
        </tr>
        <tr>
            <td>More results not shown</td>
        </tr>
    </table>
    <a href="/index">back</a>
</body>
</html>